Repository open-telemetry/otel-arrow, pull requests merged in 2025-09, with the labels that each got.

#1046 [query-engine] Remove ImmutableValueExpression
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Labels: rust, query-engine, query-engine-kql

#1049 [query-engine] Constant folding tweaks
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Labels: rust, query-engine, query-engine-kql

#1012 [otap-dataflow] add debug processor and noop exporter
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/normal_marshaler.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Labels: rust

#1048 Add example of querying OTAP Parquet with Datafusion
  rust/parquet-query-examples/.gitignore
  rust/parquet-query-examples/Cargo.toml
  rust/parquet-query-examples/README.md
  rust/parquet-query-examples/examples/query_logs.rs
Labels: rust

#1044 Small parquet exporter fixes and add example config
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
Labels: rust

#1053 fix: remove orphan record.Schema() call in NewLogsMessage
  go/pkg/record_message/arrow_record.go
Labels: go

#1043 Use Arrow row format when sorting for batching if possible
  rust/otel-arrow-rust/src/otap/groups.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Labels: rust

#1032 [otap-df-otap] Fix OTLP and OTAP receivers
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Labels: rust

#1059 [query-engine] Support accessors into constant values
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Labels: rust, query-engine, query-engine-kql

#1033 Endpoints to expose the current overall state of the pipelines and to stop pipelines
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/admin/Cargo.toml
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/Cargo.toml
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/state/Cargo.toml
  rust/otap-dataflow/crates/state/README.md
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/state/src/error.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
  rust/otap-dataflow/crates/telemetry/Cargo.toml
Labels: rust

#1042 Avoid flattening dictionaries when unifying record batches during batching
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/otap/groups.rs
Labels: rust

#1015 [otap-dataflow] otap pdata integration for otap_batch_processor
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/object_store.rs
Labels: rust

#1065 [otap-dataflow] syslog-cef-receiver update from_config method
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Labels: rust

#1069 Cleanup of the OTLP crate
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/otlp/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/README.md
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/attributes.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/config.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/fake_data.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/fake_signal.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/metrics.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/client.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otap_mock.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_grpc.rs
  rust/otap-dataflow/crates/otap/src/otlp_mock.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/proto/mod.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.profiles.v1development.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.common.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.profiles.v1development.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.trace.v1.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/counter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/mod.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
  rust/otap-dataflow/xtask/src/main.rs
Labels: rust

#1071 fix: metrics splitter in the batching subsystem
  rust/otel-arrow-rust/src/otap/groups.rs
Labels: rust

#1074 fix: OTAP streams persistent in the OTAP Exporter
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Labels: rust

#1077 fix issue decoding attribute key-values with special characters
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
Labels: rust

#1072 [query-engine] Regex capture support
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Labels: rust, query-engine, query-engine-kql

#1082 [query-engine] KQL regex parsing and cleanup
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Labels: rust, query-engine, query-engine-kql

#1091 PR #1085 PR feedback
  rust/otap-dataflow/crates/otap/src/compression.rs
Labels: rust

#1094 Add tonic middleware to handle go exporter's grpc-encoding zstdarrow header value
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/middleware.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/middleware/zstd_header.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Labels: rust

#1097 [otap-dataflow] SignalTypeRouter: internal telemetry
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Labels: rust

#1078 Add Context to OtapPdata, introduce OtapPayload
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otap_mock.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Labels: rust

#1066 [otap-dataflow] Attributes processor telemetry
  rust/otap-dataflow/crates/admin/src/telemetry.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor/metrics.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
  rust/otap-dataflow/src/main.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Labels: rust

#1107 [otap-dataflow] Config: enforce serde strictness and normalize option casing
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/config.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/telemetry/src/config.rs
Labels: rust

#1128 Minor refactoring
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/instrument.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/groups.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Labels: rust

#1138 Encode OTAP -> OTLP proto bytes directly for Traces
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_status_arrays.rs
Labels: rust

#1067 Debug processor internal telemetry
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/metrics.rs
Labels: rust

#1141 [otap-dataflow] Add internal telemetry to RetryProcessor (RFC-aligned) + tests
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Labels: rust

#1147 Encode OTAP -> OTLP proto bytes directly for Slice/Map AnyValues
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/validation/scenarios.rs
Labels: rust

#1152 [otap-df-otap] Simplify OTLP Exporter
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Labels: rust

#1153 [otap-df-otap] Fix indentation
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Labels: rust

#1151 [query-engine] Support passing attribute schema in OTLP bridge
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Labels: rust, query-engine

#1156 [otap-dataflow] add filtering to debug processor
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/filter.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/predicate.rs
Labels: rust

#1155 [otap-df-otap] Cancel telemetry timer on shutdown for OTAP and OTLP exporters
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Labels: rust

#1169 [otap-df-otap] Refactor AttributesProcessor
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Labels: rust

#1172 [perf][otap-df-otap] Avoid redundant allocations for validating AttributeTransform config
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Labels: rust

#1177 [perf] Avoid allocations in transform plan creation hot-path
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Labels: rust

#1179 [query-engine] Update Conditional formatting when displayed
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Labels: rust, query-engine

#1176 Upgrade collector dependencies to 0.136.0/1.42.0
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Labels: dependencies, go

#1182 [query-engine] Implement fmt_with_indent for more expressions
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
Labels: rust, query-engine

#1180 [perf] Avoid unnecessary vec allocation for merged transforms
  rust/otel-arrow-rust/src/otap/transform.rs
Labels: rust

#1198 [query-engine] Implement fmt_with_indent for ParseScalarExpression
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
Labels: rust, query-engine

#1188 Add support for KQL not()
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_logical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Labels: rust, query-engine, query-engine-kql
