Repository open-telemetry/otel-arrow, pull requests merged in 2025-08, with the labels that each got.

#846 [query-engine] Remove recordset engine PoC
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/README.md
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_batch.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/data/mod.rs
  rust/experimental/query_engine/engine-recordset/src/data_engine.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/discard_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/summarize_by_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/transform_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/error.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/expression.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/greater_than_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/greater_than_or_equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/less_than_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/less_than_or_equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/logical_group_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/not_equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/macros.rs
  rust/experimental/query_engine/engine-recordset/src/pipeline_expression.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/json_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/xml_value.rs
  rust/experimental/query_engine/engine-recordset/src/summary.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/clear_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/move_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/remove_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/set_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/resolve_from_attached_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/resolve_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/static_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/variable_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_path.rs
  rust/experimental/query_engine/engine-recordset/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset/tests/discard.rs
  rust/experimental/query_engine/engine-recordset/tests/set.rs
  rust/experimental/query_engine/engine-recordset/tests/summary.rs
Labels: rust, query-engine

#853 [query-engine] Fix borrow errors in recordset engine
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
Labels: rust, query-engine

#854 [query-engine] Static value refactor
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_writer.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
Labels: rust, query-engine

#857 [query-engine] Support selecting array items using range
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Labels: rust, query-engine

#848 implement kql tostring function expression
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Labels: rust, query-engine, query-engine-kql

#860 add rust-bench workflow to run it when a PR is labeled with cargobench
  .github/workflows/rust-bench.yml
  .github/workflows/rust-ci.yml
  CONTRIBUTING.md
Labels: ci/cd

#868 [query-engine] Implement slice expression
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Labels: rust, query-engine

#864 Add KQL implementation for rest of to* convert functions
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Labels: rust, query-engine, query-engine-kql

#877 [query-engine] Logging tweaks
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
Labels: rust, query-engine

#866 Update various Go and Collector dependencies
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Labels: dependencies, go

#875 [query-engine] ParseJson scalar
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Labels: rust, query-engine

#870 [query-engine] Support datetime conversion
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Labels: rust, query-engine, query-engine-kql

#894 fix: Stack overflow when getting child types for multivariate metrics
  rust/otel-arrow-rust/src/otap.rs
Labels: rust

#698 Fix pipeline perf test to run on bare metal runner
  .github/workflows/pipeline-perf-test.yml
Labels: performance, ci/cd

#861 [otap-dataflow][syslog] Add Syslog to Arrow parsing
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Labels: rust

#895 [query-engine] Summary support
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/mod.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summaries.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/summary/mod.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/ottl-parser/Cargo.toml
  rust/experimental/query_engine/parser-abstractions/Cargo.toml
Labels: rust, query-engine, query-engine-kql, query-engine-ottl

#900 Use optimized dictionary builder methods when upgrading keys
  rust/otap-dataflow/Cargo.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Labels: rust

#901 Out port support
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Labels: rust, otap-engine

#898 fix: OTAP decoding handles plain encoded log IDs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/schema.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Labels: rust

#904 [otap-dataflow] Use const methods when possible
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/compression.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
Labels: rust

#917 Remove experimental syslog receiver code
  .github/workflows/rust-ci.yml
  rust/experimental/syslog-cef-receivers/.gitignore
  rust/experimental/syslog-cef-receivers/Cargo.toml
  rust/experimental/syslog-cef-receivers/cef-receiver/.gitignore
  rust/experimental/syslog-cef-receivers/cef-receiver/Cargo.toml
  rust/experimental/syslog-cef-receivers/cef-receiver/LICENSE
  rust/experimental/syslog-cef-receivers/cef-receiver/src/lib.rs
  rust/experimental/syslog-cef-receivers/deny.toml
  rust/experimental/syslog-cef-receivers/syslog-receiver/.gitignore
  rust/experimental/syslog-cef-receivers/syslog-receiver/Cargo.toml
  rust/experimental/syslog-cef-receivers/syslog-receiver/LICENSE
  rust/experimental/syslog-cef-receivers/syslog-receiver/src/lib.rs
Labels: rust, ci/cd

#905 [query-engine] More math: + - * /
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
Labels: rust, query-engine

#918 [perf] [hot-path] Optimize send_message methods on EffectHandler
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Labels: rust

#928 [perf-exporter] fix perf otlp signal counting
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Labels: rust

#930 [query-engine] Conversion scalar expression reorg
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
Labels: rust, query-engine

#935 [query-engine] Refactor StringReplace into text group.
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Labels: rust, query-engine, query-engine-kql

#934 [otap-dataflow] implement configuration of OTAP exporter from config object
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Labels: rust

#932 [otap-dataflow] move otap datagen test files to fixtures.rs and perf exporter test refactor
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/README.md
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Labels: rust

#938 replace `rename_attributes` function with `transform_attributes` w/ delete
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Labels: rust

#942 [query-engine] Diagnostic improvements
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
Labels: rust, query-engine

#943 Fix proto formatting issues
  rust/otel-arrow-rust/src/proto/mod.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Labels: rust

#940 [query-engine] List expression
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
Labels: rust, query-engine, query-engine-kql

#945 [query-engine] Remove unused timestamp fields from Record trait
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
Labels: rust, query-engine

#939 Establish engine::NodeId = {config::NodeId; NodeIndex(u16)}
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/node.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Labels: rust

#963 add arithmetic operations query engine support and KQL implementation
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Labels: rust, query-engine, query-engine-kql

#974 [query_engine] Timespan, bin, & now support in KQL parser
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Labels: rust, query-engine, query-engine-kql

#973 fix: golang OTAP decoding logs handles optional trace ID and span ID columns
  go/pkg/otel/logs/otlp/logs.go
  go/pkg/otel/logs/validation_test.go
Labels: bug, go, receiver

#985 [otap-dataflow] Fix broken test otap-df-{otlp,otap} test_fake_signal_receiver()
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Labels: rust

#978 Add benchmarks for Syslog CEF Receiver
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/syslog_cef_receiver/main.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
Labels: rust

#941 [otap-dataflow ] Add OTAP attributes_processor
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Labels: rust

#984 Update Node index to usize
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Labels: rust

#987 [otap-controller] Update Result Type
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Labels: rust

#983 Add decoding of OTAP Traces from OTLP Bytes
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/consts.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/traces.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
Labels: rust

#991 Restore parquet exporter shutdown test and fix flakey implementation
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Labels: rust

#993 fix resource and scope IDs not getting decoded when removing transport encoding
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Labels: rust

#996 [otap-df-engine] Simplify timer control
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
Labels: rust

#997 [query-engine] Add matches logical expression and implementation
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Labels: rust, query-engine

#992 [otap-dataflow] [otlp]: validate batch_processor config and register processor factory
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Labels: rust

#1010 Upgrade collector dependencies to v0.133.0/v1.39.0
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Labels: dependencies, go

#1007 [query-engine] Static resolution improvements
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/parse_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/temporal_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Labels: rust, query-engine, query-engine-kql

#1014 [query-engine] Concat & Join expressions
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/collection_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/collection_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Labels: rust, query-engine, query-engine-kql

#1018 [query-engine] Rename state -> scope in KQL parser code
  rust/experimental/query_engine/kql-parser/src/aggregate_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Labels: rust, query-engine, query-engine-kql

#1020 [query-engine] Refactor try_resolve_value_type calls in KQL parser to use new helper method
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Labels: rust, query-engine, query-engine-kql

#1019 Script around Github markdown wrapping display differences for Release process
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/scripts/extract-changelog.sh
Labels: ci/cd, release

#1017 Split Error and TypedError<T>; generalize NodeControlMsg<PData>
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Labels: rust

#1024 Parquet exporter handle optional fields
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/error.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/schema.rs
  rust/otel-arrow-rust/src/schema.rs
Labels: rust

#1038 [otel-arrow-rust] fix a few bugs splitting traces/logs when creating resized OTAP batches
  rust/otel-arrow-rust/src/otap/groups.rs
Labels: rust

#1040 Add an endpoint to stop pipelines without stopping the engine to make benchmarking easier
  rust/otap-dataflow/crates/admin/Cargo.toml
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/admin/src/telemetry.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Labels: enhancement, rust

#1029 [otap-df-enfine] Avoid allocation in info method
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Labels: rust
