Repository open-telemetry/otel-arrow, pull requests merged in 2025-07, with the labels that each got.

#692 [query-engine] Support constants in expressions
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Labels: query-engine, query-engine-kql

#688 [query-engine] Add support for OTTL string, int, and float literals
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/ottl-parser/src/lib.rs
  rust/experimental/query_engine/ottl-parser/src/ottl.pest
  rust/experimental/query_engine/ottl-parser/src/ottl_parser.rs
  rust/experimental/query_engine/ottl-parser/src/scalar_expression.rs
  rust/experimental/query_engine/ottl-parser/src/scalar_primitive_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Labels: query-engine, query-engine-kql, query-engine-ottl

#708 Schedule monthly docker digest updates with Renovate
  .github/renovate.json5
Labels: dependencies, housekeeping

#707 [query-engine] Re-export Parser API in parser crates
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/ottl-parser/src/lib.rs
Labels: query-engine, query-engine-kql, query-engine-ottl

#718 Update Collector/Collector-Contrib dependencies and undo commenting of replaces statement in otelarrowcol after another Collector-Contrib release
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Labels: go

#725 [query-engine] Refactor static resolution API
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Labels: rust, query-engine

#741 Add labeler automation for query_engine
  .github/labeler.yml
Labels: ci/cd

#735 Combine .yml and .yaml Renovate updates
  .github/renovate.json5
Labels: ci/cd

#691 feat: OTAP spans encoding from protobuf structs with views
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/trace.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otap-dataflow/crates/pdata-views/src/views/trace.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/spans.rs
Labels: rust

#719 [perf] additional performance improvements for OTAP encoding
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/deny.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/prefix.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Labels: rust

#642 [otel-arrow-rust] bench: split_into_batches benchmark test
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otlp/main.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Labels: rust

#745 [query-engine] Store variable and attached record names as StringScalarExpressions
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Labels: rust, query-engine, query-engine-kql

#702 [otap-dataflow] simple version of a fake signal receiver
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/mod.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Labels: rust

#747 [query-engine] Add layout for new recordset engine and primitives
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset2/Cargo.toml
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
Labels: rust, query-engine

#749 [query-engine] Add entry point and context to new recordset engine
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/log_message.rs
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/transform_expressions.rs
Labels: rust, query-engine

#750 [query-engine] Add test helpers to recordset2 engine
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/test_helpers.rs
Labels: rust, query-engine

#756 [query-engine] Add value expressions to recordset2 engine
  rust/experimental/query_engine/engine-recordset2/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/resolved_value_mut.rs
  rust/experimental/query_engine/engine-recordset2/src/value_expressions.rs
Labels: rust, query-engine

#753 feat: add generic wrappers support OTLP view generation
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/trace.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/wrappers.rs
Labels: rust

#766 [query-engine] Add ReduceMap transform to recordset2 engine
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/transform_expressions.rs
Labels: rust, query-engine

#772 [query-engine] Add schema support to query engine parsers and support inner regex in reduce map
  rust/experimental/query_engine/engine-recordset2/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/ottl-parser/src/lib.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Labels: rust, query-engine, query-engine-kql, query-engine-ottl

#774 Add null_literal support for KQL query_engine
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Labels: rust, query-engine, query-engine-kql

#771 use new generic types in prost view impls for Logs & Common
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/wrappers.rs
Labels: rust

#739 Release process improvements using otelbot
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  Makefile
  RELEASING.md
  versions.yaml
Labels: ci/cd

#778 [query-engine] Logging refactor in recordset2 engine
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/engine_diagnostic.rs
  rust/experimental/query_engine/engine-recordset2/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/log_message.rs
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/value_expressions.rs
Labels: rust, query-engine

#779 Minor prepare-release fixes and script abstraction
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/scripts/create-release-branch.sh
  .github/workflows/scripts/extract-changelog.sh
  .github/workflows/scripts/get-last-version.sh
  .github/workflows/scripts/update-changelog.sh
  .github/workflows/scripts/validate-version-increment.sh
  .github/workflows/scripts/validate-version.sh
Labels: ci/cd

#780 temporarily update fake signal generator to use the OTLPData enum
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Labels: rust

#800 Fix import
  rust/otap-dataflow/Cargo.toml
Labels: rust

#767 feat: add pdata type for OTAP pipeline w/ representations & conversions
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/logs/related_data.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
Labels: rust

#801 fix: flakey shutdown timeout test
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Labels: rust

#783 Feature retry processor (v2)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Labels: rust

#804 Update prepare-release to increment otelarrowcol-build.yaml version
  .github/workflows/prepare-release.yml
  .github/workflows/scripts/create-release-branch.sh
  CHANGELOG.md
  collector/otelarrowcol-build.yaml
Labels: ci/cd

#805 [query-engine] Recordset2 engine API tweaks
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
Labels: rust, query-engine

#797 [otap-dataflow] fix blocking calls from perf-exporter
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Labels: rust

#726 feat: OTLP receiver that converts proto bytes to OTAP
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Labels: rust

#816 [query-engine] Improve error messages in KQL parser when Pest can't parse a query
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Labels: rust, query-engine, query-engine-kql

#817 [query-engine] Support KQL case-insensitive equality
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Labels: rust, query-engine, query-engine-kql

#818 [query-engine] Add protobuf reader and writer to bridge
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/protobuf_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/protobuf_writer.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/serializer_error.rs
Labels: rust, query-engine

#834 [query-engine] Add OTLP structs matching proto layout in bridge
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/collector_logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/resource.rs
Labels: rust, query-engine

#836 [query-engine] Add length scalar expression
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Labels: rust, query-engine

#837 [query-engine] Implement the recordset engine contract in bridge
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
Labels: rust, query-engine

#769 feat: add OTLP protobuf to OTAP conversion for metrics
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/metrics.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/schema.rs
Labels: rust
