Repository open-telemetry/otel-arrow, pull requests merged in 2025-06, with the labels that each got.

#488 feat: basic parquet exporter
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/object_store.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/test/datagen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/deny.toml
  rust/otel-arrow-rust/src/otap.rs
Labels: enhancement, pipeline, rust, parquet-exporter

#633 Internal tracing proposal
  rust/otap-dataflow/README.md
  rust/otap-dataflow/docs/tracing-proposal.md
Labels: documentation, enhancement

#654 [Editorial] Standardize README content to include repository maintainers and approvers
  CONTRIBUTING.md
  README.md
Labels: housekeeping
