Repository open-telemetry/otel-arrow, pull requests merged in 2025-05, with the labels that each got.

#351 Enable usage of libraries requiring Send bound within receivers, processors, and exporters
  rust/otap-dataflow/ROADMAP.md
  rust/otap-dataflow/crates/channel/src/error.rs
  rust/otap-dataflow/crates/engine/README.md
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
Labels: enhancement

#378 perftest for pipeline - add basic skeleton
  .github/workflows/pipeline-perf-test.yml
  .gitignore
  tools/pipeline_perf_test/backend/readme.md
  tools/pipeline_perf_test/load_generator/readme.md
  tools/pipeline_perf_test/orchestrator/orchestrator.py
  tools/pipeline_perf_test/orchestrator/requirements.txt
  tools/pipeline_perf_test/readme.md
  tools/pipeline_perf_test/system_under_test/readme.md
Labels: performance

#398 [otap-dataflow] add criterion initial structure and benchmark test
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/README.md
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/README.md
  rust/otap-dataflow/benchmarks/benches/config/main.rs
Labels: enhancement, pipeline, rust

#430 Channel benchmarks
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/channel/main.rs
  rust/otap-dataflow/crates/channel/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
Labels: performance, pipeline, rust

#433 Support Send and !Send nodes
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
  rust/otap-dataflow/xtask/Cargo.toml
Labels: pipeline, rust

#466 Perf - Orchestrator restructuring phase1
  tools/pipeline_perf_test/orchestrator/lib/core/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Labels: pipeline, rust
